@import "tailwindcss";

/* 
entire navigation bar styling start
 */
.header {
    /* border: 1px solid black; */
  width: 100%;
  height: 16vh ;
  display: flex;
  flex-direction: row;
  justify-content: end;
  position: sticky;
  top: 0px;
    transition: all 0.5s ;
    z-index: 10;
}

.navigation{
    width: 45vw;
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 160%;
} 
.navigation a{
    transition: font-size 0.3s ease;
}

.header.small{
  height: 8vh ;
  transition: all 0.3s ease;
}

.header.small{
  font-size: 0.8rem;
  transition: font-size 0.3s ;
}

.blank{
    /* border: 1px solid red; */
    width: 45vw;
}


/* 
navigation styling end
 */