/* 
skills section start
*/
.skillsMain{
    width: 70%;
    border: 2px solid black;
    height: 60vh;
    align-items: center;
    border-radius: 50px;
    padding: 15px;
}
.skillsMain img{
    width: 30px;
    height: 30px;
}

.frontend, .backend, .database{
    /* border: 1px solid red; */
    height: 100%;
    width: 90%;
}