/* 
about section start 
*/

.aboutSection{
    /* border: 2px solid black; */
    height: 90vh
}
.aboutStart{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 15vh;
    width: 100%;
}
.aboutMain{
    /* border: 2px solid green; */
    width: 100%;
}
.aboutPicture img{
    width: 370px;
    height: 390px;
    border-radius: 100%;
    margin-left: 10vw;
}
.aboutPicture{
    width: 35%;
}
.aboutDetails{
    /* border: 2px solid purple; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 5vw;
    width: 55%;
    height: 100%;
}

.exp,.edu{
    border: 1px solid rgb(0, 0, 0);
    height: 180px;
    background-color: rgb(234, 249, 255);           
    border-radius: 50px;       
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
    width: 380px;
    display: flex; 
    flex-direction: column;      
    align-items: center;
}
.expedu{
    /* border: 2px solid brown; */
    width: 100%;
    height: 200px;
    justify-content: space-between;
    align-items: center;
}
.aboutInfo{
    /* border: 2px solid pink; */
    width: 100%;
    height: 150px;
}

/*
about section end
*/  