/* 
general section styling start
*/

.generalSection{
    /* border: 2px solid black; */
    height: 70vh;
    display: flex;
    flex-direction: row;
}
.profilePicture{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profilePicture img{
    width: 412px;
    height: 400px;
    border-radius: 100%;
    margin-left: 10vw;
} 
.nonProfileSection{
    width: 50%;
    margin-right: 5%;
}
.greetings{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin-top: 5vhh;
    font-size: 300%;
    font-weight: bold;
}
.profession{
    /* border: 2px solid green; */
    display: flex;
    justify-content: center;
    width: 70%;
}

.socialMedia img{
    width: 35px;
    height: 35px;
}

.socialMedia{
    /* border: 2px solid purple; */
    display: flex;
    justify-content: center;
    width: 70%;
}

.details{
    /* border: 2px solid orange; */
    display: flex;
    justify-content: center;
    width: 70%;
    height: 10%;
}

/* 
general section end
*/